<html>
    <head>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="http://yandex.st/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript">
          $(document).ready(function() {
              api.start();
          });

          api = {
              socket: null,

              start: function() {
                  if ("WebSocket" in window) {
                      api.socket = new WebSocket("ws://localhost:9000/api");
                  } else {
                      api.socket = new MozWebSocket("ws://localhost:9000/api");
                  }

                  api.socket.onmessage = function(event) {
                      data = JSON.parse(event.data);
                      if(data['type']=='stats') {
                          $('#id_users_cnt').text(data['data']['users']);
                      }
                      console.log(event.data);
                  }
              }
          }

          function send_register() {
              window.console.log('aaa');
              window.console.log(api);
              message = {
                  'command': 'register',
                  'data': {
                      'mobile_id': '1',
                      'sector': '12',
                      'row': '9',
                      'place': '20'
                  }
              };
              api.socket.send(JSON.stringify(message));
          }
        </script>
    </head>
    <body>
        <div class="row">
            <div  class="span8">
                <h1>Commands</h1>
                <a href="#" onclick="javascript:send_register()">Send register</a><br/>
            </div>
            <div class="span4">
                <h4>Users: <span id="id_users_cnt">#</span></h4>
            </div>
    </body>
</html>
