<html>
    <head>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="http://yandex.st/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript">
          $(document).ready(function() {
              api.start();
          });

          current_pattern = null;
          current_id = null;

          api = {
              socket: null,

              start: function() {
                  if ("WebSocket" in window) {
                      api.socket = new WebSocket("ws://178.79.139.131:9000/api");
                  } else {
                      api.socket = new MozWebSocket("ws://178.79.139.131:9000/api");
                  }

                  api.socket.onerror = function (error) {
                      console.log('WebSocket Error ' + error);
                  };

                  api.socket.onmessage = function(event) {
                      data = JSON.parse(event.data);
                      if(data['type']=='stats') {
                          $('#id_users_cnt').text(data['data']['users']);
                          $('#id_users_active').text(data['data']['active']);
                      } else if(data['type']=='timesync') {
                          $('#id_sent_time').text(data['data']['sent_time']);
                          $('#id_server_time').text(data['data']['server_time']);
                          $('#id_current_time').text(Math.floor((new Date()).getTime() / 1000));
                      } else if(data['type']=='pattern') {
                          window.console.log('start');
                          if(!current_pattern || current_pattern['pattern'].length==0) {
                              current_pattern = data['data'];
                              $('#id_pattern_name').text(current_pattern['pattern_name'])
                              current_id = setInterval(function() { play_pattern() }, current_pattern['interval']);
                          }
                      }
                      console.log(event.data);
                  }
              }
          }

          function play_pattern() {
              window.console.log('play'+current_pattern)
              if(!current_pattern || current_pattern['pattern'].length==0) {
                  $('#id_color').css('background-color', 'black');
                  clearInterval(current_id);
                  $('#id_pattern_name').text('#');
                  return;
              }

              var color = current_pattern['pattern'].shift();
              if(color) {
                  $('#id_color').css('background-color', 'white');
              } else {
                  $('#id_color').css('background-color', 'black');
              }
          }

          function send_register() {
              message = {
                  'command': 'register',
                  'data': {
                      'mobile_id': '1',
                      'sector': '12',
                      'row': '9',
                      'place': '20'
                  }
              };
              api.socket.send(JSON.stringify(message));
          };

          function send_activate() {
              message = {
                  'command': 'activate'
              };
              api.socket.send(JSON.stringify(message));
          };

          function send_deactivate() {
              message = {
                  'command': 'deactivate'
              };
              api.socket.send(JSON.stringify(message));
          };

          function send_timesync() {
              message = {
                  'command': 'timesync',
                  'data': {
                      'sent_time': Math.floor((new Date()).getTime() / 1000)
                  }
              };
              api.socket.send(JSON.stringify(message));
          };
        </script>
    </head>
    <body>
        <div class="row">
            <div  class="span8">
                <h1>Commands</h1>
                <a href="#" onclick="javascript:send_register()">Send register</a><br/>
                <a href="#" onclick="javascript:send_activate()">Send activate</a><br/>
                <a href="#" onclick="javascript:send_deactivate()">Send deactivate</a><br/>
                <a href="#" onclick="javascript:send_timesync()">Send timesync</a><br/>
            </div>
            <div class="span4">
                <h4>Users: <span id="id_users_cnt">#</span></h4>
                <h4>Active: <span id="id_users_active">#</span></h4>
                <h4>Sent Time: <span id="id_sent_time">#</span></h4>
                <h4>Server Time: <span id="id_server_time">#</span></h4>
                <h4>Current Time: <span id="id_current_time">#</span></h4>
                <h4>Pattern name: <span id="id_pattern_name">#</span></h4>
                <div id="id_color" style="border:1px solid black;height:200px;width;200px;background-color:black">&nbsp;</div>
            </div>
    </body>
</html>
